/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* header styles */
  header {
    padding: 0;
  }
  .logo {
    width: 180px;
  }
  .menu ul li a {
    padding: 0 10px 8px !important;
  }

  /* banner styles */
  .banner {
    padding-bottom: 50px;
  }
  .banner-text {
    text-align: center;
  }
  .banner-title {
    margin: 10px 0;
    padding: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .banner-dsc {
    padding: 0;
    line-height: 28px;
  }
  .banner-img {
    margin-bottom: 30px;
    padding: 0;
  }

  /* feature styles */
  .feature {
    padding-bottom: 60px;
  }
  .single-feature {
    margin-top: 30px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* header styles */
  header {
    padding: 0;
  }
  .logo {
    width: 190px;
  }
  .menu ul li a {
    padding: 0 10px 8px !important;
  }

  /* banner styles */
  .banner-text {
    text-align: center;
  }
  .banner-title {
    padding: 0 75px;
    font-size: 35px;
    line-height: 40px;
  }
  .banner-dsc {
    padding: 0 50px;
    line-height: 30px;
  }
  .banner-img {
    margin-bottom: 30px;
    padding: 0 60px;
  }

  /* feature styles */
  .feature {
    padding-bottom: 60px;
  }
  .single-feature {
    margin-top: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* header styles */
  .menu ul li a {
    padding: 0 10px 8px !important;
  }

  /* banner styles */
  .banner-text {
    text-align: center;
  }
  .banner-title {
    padding: 0 125px;
    font-size: 40px;
    line-height: 50px;
  }
  .banner-dsc {
    padding: 0 125px;
    line-height: 30px;
  }
  .banner-img {
    margin-bottom: 30px;
    padding: 0 100px;
  }

  /* feature styles */
  .feature {
    padding-bottom: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* banner styles */
  .banner-title {
    padding-right: 46px;
  }
}
/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* banner styles */
  .banner-title {
    padding-right: 46px;
  }
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* feature styles */
  .single-feature {
    padding: 65px 0 60px;
  }
}
